@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    /* White */
    --foreground: 2 6 23;
    /* Slate 950 */
  }
}

body {
  @apply bg-helionyx-main text-helionyx-text antialiased;
}

/* Custom scrollbar for industrial feel - Light Version */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  /* Slate 300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
  /* Slate 400 */
}